:root {
  --width-panel: 25%;
  --width-graph: 70%;
}

body{
  background-color: #f7f7f7;
}

#cy {
  display: inline-block;
  width: var(--width-graph);
  margin: 3px;
  height: 650px;
  border: solid 3px #cccccc;
  background-color: #eaeaea;
}

#cy_panel {
  display: inline-block;
  vertical-align: top;
  margin: 3px;
  width: var(--width-panel);
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

.legend-icon{
  padding-left: 50px;
  zoom: 0.2;
  display: inline-block;
}

li{
  width: 80%;
  border-top: gray solid 0.2px;
  margin-top: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
  list-style-type: none;
}
li *{
  vertical-align:top;
}
li input{
  margin-right: 7px;
}

.list-keyword{
  margin-left: 40px;
  margin-bottom: 10px;
}
.list-keyword .a-keyword{
  padding: 4px;
  font-size: 13pt;
  background-color: gray;
  border-radius: 3px 3px 3px 3px;
  color: white;
  border: solid 2px gray;
  width: fit-content;
  margin: 5px;
  display: inline-block;
}

.list-keyword .a-keyword.first{
  background-color: white;
  color: gray;
  border: solid 2px gray;
  opacity: 0.6;
}
.list-keyword .a-keyword.first:hover{
  cursor: pointer;
  color: white;
  background-color: gray;
  opacity: 1;
}

.apply-filter-btn{
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  width: 75%;
  padding: 7px;
  color: black;
  font-size: 16px;
  border: solid 1.5px gray;
  margin-top: 20px;
  margin-bottom: 20px;
}

.apply-filter-btn:hover{
  cursor: pointer;
  color: white;
  background-color: gray;
}

.graph-info-box{
   z-index: 10;
   top: 25px;
   left: var(--width-panel);
   position: absolute;
   background-color: white;
   border: solid gray;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 15px;
   width:25%;
   word-wrap: break-word;
   margin: 0 auto;
   max-height: 580px;
   overflow: scroll;
}
.graph-info-box div.header-class{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 15px;
  padding-right: 5px;
  font-size: 13pt;
  background-color: gray;
  color: white;
  border-radius: 0px 0px 10px 10px;
  display: inline-block;
}
.graph-info-box div.header-class.organization{
  background-color: #2F8A60;
}
.graph-info-box div.header-class.project{
  background-color: #2296EE;
}
.graph-info-box div.header-class.activity{
  background-color: #ee7a22;
}
.graph-info-box div.header-class.demo{
  background-color: #CE1271;
}
.graph-info-box div.header-class.presentation{
  background-color: #CE1271;
}
.graph-info-box div.header-class.publication{
  background-color: #F4D03F;
}
.graph-info-box div.header-class.code{
  background-color: #9E4FC5;
}

.graph-info-box div.close-class{
  margin-left: 5px;
  width: 10%;
  float:right;
  text-align: center;
  padding:1px;
  font-size: 15pt;
  background-color: #9F2800;
  color: white;
  border-radius: 0px 0px 10px 10px;
  opacity: 0.6;
}
.graph-info-box div.close-class:hover{
  cursor:pointer;
  opacity: 1;
}

.graph-info-box div.att{
  padding-top: 10px;
}

/*Keyword*/
.graph-info-box div.hasKeyword .value{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: gray;
  color: white;
  padding: 4px;
  border-radius: 3px 3px 3px 3px;
}
.graph-info-box div.hasKeyword .value::before {
  content: "# ";
}
.opt-list{
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: gray;
  width: 80%;
  max-height: 250px;
  overflow: scroll;
  border-right: solid gray;
  border-left: solid gray;
}
.opt-list .opt-list-item{
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 0.5px dotted gray;
}
.opt-list .opt-list-item:hover{
  cursor: pointer;
  color: white;
  background-color: gray;
}

.a-keyword .close-class{
  padding: 0px!important;
  margin-left: 6px;
  font-size: 10pt;
  color: #FFE9E2;
  vertical-align: top;
  cursor: pointer;
  display: inline-block;
}

/*Member*/
.graph-info-box div.hasMember .nickname{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #dfb38f;
  padding: 4px;
  border-radius: 3px 3px 3px 3px;
}
.graph-info-box div.hasMember .nickname::before {
  content: "> ";
}

.graph-info-box div.title{
  padding-top: 0px;
  font-size: 15pt;
}
.graph-info-box div.subtitle{
  font-size: 13pt;
}
.graph-info-box div.name{
  padding-top: 0px;
  padding-bottom: 3px;
  font-size: 15pt;
}
.graph-info-box div.source{
  padding-bottom: 3px;
  font-size: 10pt;
}
.graph-info-box div.location{
  color: gray;
  font-size: 13pt;
  padding-top: 0px;
}
.graph-info-box div.start_date{
  color: gray;
  font-size: 13pt;
  display: inline-block;
}
.graph-info-box div.end_date{
  color: gray;
  font-size: 13pt;
  display: inline-block;
}
.graph-info-box div.contribution{
  padding-top: 5px;
  font-size: 11pt;
  padding-bottom: 10px;
}
.graph-info-box div.description{
  padding-top: 5px;
  font-size: 11pt;
  padding-bottom: 10px;
}

.graph-info-box div.reference{
  padding-bottom: 3px;
  font-size: 13pt;
}

.graph-info-box div.webpage{
  text-align: right;
  padding-bottom: 3px;
  font-size: 12pt;
}
